/* left menu */
.left-menu-h {
    height: calc(100vh);
    transition: width 0.4s;
  }
  .left-menu-h.active {
    width: 320px;
  }
  .logo {
    display: none;
  }
  ul.left-menu li.active a { color: #1570EF; font-weight: 600; }
  .left-menu-h:hover .logo {
    display: block;
  }
  .left-menu-h:hover .logo_icon {
    display: none;
  }
  .left-menu-h:hover .lock_icon {
    display: none;
  }
  .leftmenu-lock {
    background: no-repeat url("/assets/images/left-menu-icons/lock-border.png")
      center;
    min-width: 19px;
    min-height: 23px;
    display: block;
  }
  .leftmenu-unlock {
    background: no-repeat url("/assets/images/left-menu-icons/unlock.svg") right
      center;
    min-width: 26px;
    min-height: 26px;
    display: block;
  }
  
  .left-menu-sec [data-simplebar="init"] {
    height: calc(100% - 340px);
  }
  .left-menu-sec .simplebar-track.simplebar-vertical {
    right: -26px;
  }
  .left-menu-sec .simplebar-track.simplebar-vertical .simplebar-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    width: 5px;
  }
  
  ul.left-menu li {
    position: relative;
  }
  ul.left-menu li a {
    color: #E5E7EB;
    font-size: 14px;
    padding: 0.625vw 0;
    display: block;
  }
  ul.left-menu li.p-l-15 a {
    padding-left: 15px;
  }
  
  .left-menu-h ul.left-menu > li:hover > a {
    background-color: #1570EF;
    border-radius: 10px;
    color: #FFF;
  }
  .left-menu-h ul.left-menu li a span {
    min-width: 180px;
    display: inline-flex;
    white-space: nowrap;
  }
  .left-menu-h ul.left-menu li a span,
  .left-menu-h ul.left-menu li a span i {
    font-size: 0;
    padding-left: 60px;
  }
  
  .left-menu-h:hover ul.left-menu li a span,
  .left-menu-h:hover ul.left-menu li a span i {
    font-size: 14px;
  }
  .sub-menu {
    position: fixed;
    top: 24px;
    left: 280px;
    z-index: 99999;
    display: none;
    background-color: #f0f4f5;
    min-width: 234px;
    height: calc(100vh - 47px);
    padding: 24px 16px;
    overflow-y: auto;
  }
  .left-menu li:hover .sub-menu {
    display: block;
  }
  .left-menu-h .sub-menu li a {
    padding-left: 15px;
  }
  .left-menu-h ul.left-menu .sub-menu li a:hover {
    background-color: #1570EF;
    border-radius: 8px;
    color: #fff;
  }
  
  ul.left-menu li ul.sub-menu li a {
    padding: 0;
  }
  ul.left-menu li.active a {
    color: #1570EF;
    font-weight: 600;
  }
  ul.left-menu li:not(:first-child) {
    display: block;
  } /* margin-top: 12px; */
  .left-menu-h:hover .sub-menu li:not(:first-child) {
    margin-top: 0px;
  }
  ul.left-menu li:before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
  .divide {
    border-top: 1px solid #eeeeee;
  }
  
  ul.left-menu li.ico-eye:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-eye.svg");
  }
  /* active */
  ul.left-menu li.active.ico-eye:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-eye-active.svg");
  }
  ul.left-menu li.ico-fund:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-fund.svg");
  }
  /* active */
  ul.left-menu li.active.ico-fund:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-fund-active.svg");
  }
  ul.left-menu li.ico-sd:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-sd.svg");
  }
  /* active */
  ul.left-menu li.active.ico-sd:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-sd-active.svg");
  }
  ul.left-menu li.ico-analysis:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-analysis.svg");
  }
  /* active */
  ul.left-menu li.active.ico-analysis:before {
    background: no-repeat url("/assets/images/left-menu-icons/ico-analysis-active.svg");
  }
  ul.left-menu li.settings:before {
    background: no-repeat url("/assets/images/left-menu-icons/settings.svg");
  }
  ul.left-menu li.dark-mode:before {
    background: no-repeat url("/assets/images/left-menu-icons/dark-mode.svg");
  }
  
  
  

  ul.left-menu li.support:before {
    font-family: "k12stag";
    content: "\e81f";
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    height: auto;
  }
  
  ul.left-menu li a.supportBg {
    background-color: #1570ef;
    color: #fff;
    border-radius: 10px;
  }
  ul.left-menu li a.supportBg span {
    color: #fff;
  }
  .left-menu-h ul.left-menu.hoverNone > li:hover > a.supportBg {
    background-color: #1570ef;
    color: #FFF;
  }
  .left-menu-h.active
    .simplebar-track.simplebar-vertical
    .simplebar-scrollbar:before,
  .left-menu-h.active
    .simplebar-track.simplebar-horizontal
    .simplebar-scrollbar:before {
    width: 2px;
  }
  .left-menu-h .simplebar-track.simplebar-vertical .simplebar-scrollbar:before,
  .left-menu-h .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    width: 0;
  }
  .profile img {
    min-width: 48px;
  }
  .left-menu-h ul.left-menu.hoverNone li.userProfile span {
    padding-left: 10px;
  }
  .left-menu-h .userprofileIcon {
    display: none;
  }
  .left-menu-h:hover .userprofileIcon {
    display: block;
  }
  .left-menu-h ul.left-menu.hoverNone li.userProfile .userPic img {
    min-width: 45px;
    height: 45px;
    border-radius: 100%;
  }
  .shadow1 {
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.03),
      0px 4px 6px -1px rgba(0, 0, 0, 0.02);
  }
  .ActiveModule {
    color: #1570ef;
  }
  .ul.left-menu li a:active{
    color: #D73F09; 
  }
/* ul.left-menu li.active a { color: #D73F09; } */
  
  /* left menu End*/
  
  /* VK */
  
  ul.left-menu li.subMenu1 span:after {
    content: "\e803";
    font-family: "k12stag";
    position: absolute;
    right: 15px;
    top: 12px;
    color: #4c525f;
    opacity: 0.6;
  }
  ul.left-menu li.subMenu1 .sub-menu1 li a {
    display: block;
    background-color: #f5f6f7;
    padding-left: 60px;
  }
  .hideSubMenu.subMenu1 .sub-menu1 {
    display: none;
  }
  .showSubMenu.subMenu1 .sub-menu1 {
    display: block;
  }
  .showSubMenu.subMenu1 span:after {
    transform: rotate(180deg);
  }
  .showSubMenu.subMenu1 > a {
    background-color: #eff8ff;
    border-radius: 8px;
  }
  
  /* NN */
  .subMenu1 ul li a {
    color: #a7a9ae !important;
    font-weight: 400 !important;
  }
  .subMenu1 ul li.active a {
    color: #1570ef !important;
    font-weight: 600 !important;
  }
  /* NN */
  /* VK */
  
  .theme-cust {
    display: flex !important;
    align-items: center;
    margin-left: 0px;
    padding-left: 10px !important;
  }
  ul.left-menu li.theme-cust:before {
    display: none;
  }
  
  .left-menu-h ul.left-menu li a.theme-cust span {
    padding-left: 0px !important;
    min-width: 50px;
  }
  ul.left-menu li .theme-cust a {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  /******************** dark*******************/
  /* .dark .leftmenu-lock {
    background-image: url("/assets/images/left-menu-icons/dark-lock-border.png");
  }
  .dark .leftmenu-unlock {
    background-image: url("/assets/images/left-menu-icons/dark-unlock.svg");
  } */
  .dark ul.left-menu li a {
    color: #fff;
  }
  .dark .left-menu-h ul.left-menu > li:hover > a {
    background-color: #0e2511;
    border-radius: 8px;
  }
  
  /* .dark ul.left-menu li.dark-mode:before {
    background-image: url(/assets/images/left-menu-icons/light-mode.svg);
  } */
  /******************** dark end*******************/
  
  /* Responsive */
  
  @media only screen and (max-width: 1279px) {
    .left-menu-sec [data-simplebar="init"] {
      height: calc(100% - 340px);
    }
    ul.left-menu li:before {
      left: 16px;
    }
    ul.left-menu li a {
      padding: 9px 0;
    }
  }
  